---
export const prerender = true;
const town = "Tufnell Park";

import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero/Hero.astro";
import DefaulContentBlock from "../../components/Content/DefaultContentBlock.astro";
import ImageOnRight from "../../components/Content/ImageOnRight.astro";
import ImageOnLeft from "../../components/Content/ImageOnLeft.astro";
import CallToAction from "../../components/CallToAction.astro";
import Button from "../../components/Buttons/PrimaryButton.astro";
import SubTitle from "../../components/Headings/SubTitle.astro";
import webDesign1 from "../../assets/images/web-design-img6.jpg";
import heroBg from "../../assets/images/img1.png";
import Cali1 from "../../assets/images/img1.png";
import Cali2 from "../../assets/images/img2.png";
import Cali3 from "../../assets/images/img3.png";
import Cali4 from "../../assets/images/img4.png";
import Cali5 from "../../assets/images/img5.jpg";
import Reception from "../../assets/images/reception.png";
import Bar from "../../assets/images/bar.jpg";
import Pastry from "../../assets/images/pastry.jpg";
import Coffee from "../../assets/images/coffee.jpg";
import Lounge from "../../assets/images/lounge.jpg";
import Terrace from "../../assets/images/terrace.jpg";
import Location from "../../assets/images/location.jpg";
import Matchbox from "../../assets/images/matchbox2.jpg";
import cosyDouble from "../../assets/images/cosy-double1.jpg";
import spaciousDouble from "../../assets/images/spacious-double2.jpg";
import Twin from "../../assets/images/twin1.jpg";
import Family from "../../assets/images/family2.jpg";
import familyPlus from "../../assets/images/familyplus1.jpg";
import Library from "../../assets/images/library.jpg";
import oxfordSt from "../../assets/images/oxford-street.jpg";
import Food from "../../assets/images/food1.jpg";

import Gyle4 from "../../assets/images/gyle4.jpg";
import Gyle2 from "../../assets/images/gyle2.jpg";
import Gyle3 from "../../assets/images/gyle3.png";
import Gyle5 from "../../assets/images/gyle5.jpg";
import Toast1 from "../../assets/images/toast1.jpg";
import Tc2023 from "../../assets/images/tc2023.png";
import CtaBg1 from "../../assets/images/hero-bg2.png";
import tinyKing from "../../assets/images/tiny-king.jpg";
import largeKing from "../../assets/images/large-king.jpg";
import kingBathroom from "../../assets/images/king-bathroom.jpg";
import kingBalcony from "../../assets/images/king-balcony.jpg";
import gyleSuite from "../../assets/images/gyle-suite.jpg";
import citySuite from "../../assets/images/city-suites.jpg";
import featureTwin from "../../assets/images/feature-twin.jpg";
import museum from "../../assets/images/museum1.jpg";
import bookingOffice from "../../assets/images/booking-office.jpg";
import { Image } from 'astro:assets'


---

	<Layout title={`The California | Hotels in Kings Cross | Ideal for visiting Tufnell Park`} description={`The California Hotel. Looking for Hotels in Kings Cross? Conveniently located for St Pancras & Kings Cross stations. Ideal for visiting Tufnell Park`}>



<Hero
  title="Hotels in Kings Cross near Tufnell Park"
  sub="Comfort and Convenience" 
  extraSub="The California Hotel"
  linkText="BOOK NOW"
  href="https://www.thecalifornialondon.com/"
  image={heroBg}
  
  >
  <div slot="heroContent"> 
    <p class="my-6 lg:text-lg">
        The California Hotel is ideally located in the heart of King's Cross, London. Our hotel is just a stone's throw away from London Kings Cross station, making it the perfect base for exploring the city. Whether you're here for business or pleasure, you'll find everything you need right on your doorstep.  
        </p>
    <p class="lg:text-lg mb-6">
      The California is not your usual. A quiet, comfortable, and cosy base with buzzing King’s Cross on the doorstep, our hotel is made of London townhouses stitched together, and decorated with a patchwork of eclectic styles. 
    </p>   
    
  </div>  
</Hero>
		
    

    <!-- TWO COLUMN CONTENT BLOCK WITH IMAGE ON RIGHT. NOTE THAT HEIGHT / WIDTH CAN BE APPLIED IF REQUIRED, FOR EXAMPLE - IF TEXT CONTENT IS LONG OR SHORT, YOU MAY WANT TO SET THE IMAGE HEIGHT TO LINE IMAGE UP WITH TEXT CONTENT -->    
	<ImageOnRight
    
    title="Our Hotel in the Heart of Kings Cross"
    image={Cali5} 
    imageAlt="Our Hotel in the Heart of Kings Cross - a great alternative to Premier Inn"
    titleColor="black"
    height={500} 
    width={500}
  >
    <Fragment slot="content" >
      <p class="my-4">
        We provide a unique offering of 60 distinct rooms, and an unrivaled location just a stone's throw from Kings Cross station.
      </p>
      <p>
        Our 60 individually designed rooms ensure that no two stays are ever the same. All rooms have opening windows, a mixture of timber and carpet flooring, hanging space for clothes, a tea and coffee station, and central heating to keep you warm in English winters. The ensuite bathrooms are stocked with fluffy towels and toiletries.
      </p>
     <p>
      Nestled in one of London's most vibrant neighborhoods - Kings Cross - our hotel's location is second to none. Kings Cross station, a major transportation hub connecting you to every corner of the city, is just steps away, making your travels effortless. This makes us the perfect option for people visiting London and Tufnell Park. Beyond the convenience of the station, you'll find a wealth of attractions, dining, and entertainment options in close proximity.    </p>

    <p>
        Welcome to an exceptional accommodation experience for people visiting Tufnell Park that is truly unique.
    </p>
     
    </Fragment>
  </ImageOnRight>
  <!-- END IMAGE ON RIGHT CONTENT BLOCK -->




<!-- BEGIN TWO CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
<div class="mx-auto max-w-7xl px-6">
  <SubTitle>Hotel Facilities</SubTitle>
  <div class="mb-10 mt-4 mx-auto px-4 md:text-lg">
    <p class="text-center">
        Our hotel has a full range of modern facilities for your convenience and comfort.    </p>
<div
class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
>
<div class="flex flex-col overflow-hidden rounded-lg mb-10 border pb-4 bg-brand-primary">
  <Image
    src={Reception}
    class="h-48 w-full object-cover"
    alt="hotels in London Kings Cross"
    format="webp"
  />
  <h3 class="py-4 text-black text-xl font-bold px-4 border-t-2 border-white text-center">
    24/7 reception

  </h3>
  <p class="px-4 text-black text-center">
    Our 24/7 reception is a testament to our commitment to your comfort and convenience. Whether you're checking in late after a long flight or need assistance with your travel plans in the wee hours, our friendly reception team is here to help around the clock. 
  </p>


</div>


<div class="flex flex-col text-black text-center overflow-hidden rounded-lg bg-brand-primary mb-4 md:mb-10 pb-4">
  <Image
    src={Bar}
    class="h-48 w-full object-cover"
    alt="the best of London hotels in Kings Cross"
    format="webp"
  />
  <h3 class="py-4 text-center border-t-2 border-white text-xl font-bold px-4">
    Bar with Food & Drink
  </h3>
  <p class="px-4">
    We serve a range of house drinks at our art deco bar  where you can sit back, relax, and soak up the lively atmosphere of King's Cross. We also offer warm toasties and fresh pastries made onsite every day if you're feeling peckish.
</p>

</div>
</div>
</div>

<!-- END TWO CARDS WITH IMAGE + BORDER SECTION -->

<!-- BEGIN TWO CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
<div class="mx-auto max-w-7xl px-6">
  
<div
class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
>
<div class="flex flex-col overflow-hidden rounded-lg mb-10 border pb-4 bg-brand-primary">
  <Image
    src={Lounge}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-black text-xl font-bold px-4 border-t-2 border-white text-center">
    Relaxing lounge
  </h3>
  <p class="px-4 pb-4 text-black text-center">
    A comfortable space to relax, meet or work , our lounge is the perfect place to unwind after a long day of exploring London. 
</p>

 

</div>


<div class="flex flex-col text-black text-center overflow-hidden rounded-lg bg-brand-primary mb-4 md:mb-10 pb-4">
  <Image
    src={Terrace}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-center border-t-2 border-white text-xl font-bold px-4">
    Outdoor terrace
  </h3>
  <p class="px-4">
    During warm weather, enjoy sunny days or evening cocktails on our cosy terrace, the perfect spot to take a break from hectic city life. 
</p>
</div>
</div>
</div>
</div>
<!-- END TWO CARDS WITH IMAGE + BORDER SECTION -->


<CallToAction
    background={heroBg}  
    title="Start Your London Journey Here"
    ImageAlt="Start Your London Journey Here"
    linkText="Book Now"
    href="https://www.thecalifornialondon.com/">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        he California's harmonious blend of comfort, style, and unrivalled location in Kings Cross creates a truly unique London experience. Our rooms, each with their own distinct character, offer relaxation and a good night's sleep after a day of exploration. Our proximity to transport hubs and London's famous attractions means you have the city at your fingertips. Start planning your London adventure today and make your reservation at The California now. 
      </p>
    </div>
  </CallToAction>



 

   
<!-- BEGIN THREE CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
<div class="mx-auto max-w-7xl px-6">
  <SubTitle>Our Rooms</SubTitle>
  <p class="my-4 text-center md:text-lg">No two rooms are the same - each has a different design and comes with all the staples needed for a comfortable stay.
    </p>
    <p class="mB-4 text-center md:text-lg">
      All of our stylish rooms have opening windows, a mixture of timber and carpet flooring, hanging space for clothes, a tea and coffee station, and central heating to keep you warm in English winters. The ensuite bathrooms are stocked with fluffy towels and toiletries – but make sure you bring your own toothpaste.</p>
  <div
  class="mt-6 grid w-full lg:gap-10 lg:grid-cols-3"
  >
  <div class="flex flex-col overflow-hidden rounded-lg mb-10 pb-4 bg-brand-primary text-black text-center">
  <Image
    src={Matchbox}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 border-t-2 border-white text-xl font-bold px-4">
    Matchbox (Single)
  </h3>
  <p class="px-4">
    Humble and compact, the matchbox room is everything you need and nothing you don’t. Each room features a bed and ensuite bathroom, ideal for a quick business trip or a solo jaunt in the capital.
  </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
  </div>
  
  
  <div class="flex flex-col overflow-hidden rounded-lg lg mb-10 pb-4 bg-brand-primary text-black text-center">
  <Image
    src={Twin}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-xl font-bold px-4 border-t-2 border-white">
    Twin
  </h3>
  <p class="px-4 mb-12">
    Ideal for partners in crime and travel, our twin rooms come with two single beds for a good night’s sleep.
  </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
  </div>
  
  <div class="flex flex-col overflow-hidden rounded-lg lg mb-4 md:mb-10 border text-black text-center pb-4 bg-brand-primary">
    <Image
      src={cosyDouble}
      class="h-48 w-full object-cover"
      alt="Kings Cross hotel"
      format="webp"
    />
    <h3 class="py-4 border-t-2 border-white text-xl font-bold px-4">
      Cosy Double (Small Double)
    </h3>
    <p class="px-4 mb-6">
      What more do two travellers visiting Tufnell Park need, besides each other? Our small doubles are thoughtfully put together to make the most of the space for a good stay.
    </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
    </div>
  
  </div>
  </div>
  
  <!-- END THREE CARDS WITH IMAGE AND NO BORDER SECTION -->

  <!-- BEGIN THREE CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
  <div class="mx-auto max-w-7xl px-6">
  
  <div
  class="mt-6 grid w-full lg:gap-10 lg:grid-cols-3"
  >
  <div class="flex flex-col overflow-hidden rounded-lg mb-10 pb-4 bg-brand-primary text-black text-center">
  <Image
    src={spaciousDouble}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 border-t-2 border-white text-xl font-bold px-4">
    Spacious Double (Large Double)
  </h3>
  <p class="px-4">
    Our most spacious double room perfect for a weekender in London town, roll the dice for one of our iconic floating beds.
  </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
  </div>
  
  
  <div class="flex flex-col overflow-hidden rounded-lg lg mb-10 pb-4 bg-brand-primary text-black text-center">
  <Image
    src={Family}
    class="h-48 w-full object-cover"
    alt="Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-xl font-bold px-4 border-t-2 border-white">
    Family
  </h3>
  <p class="px-4 mb-6">
    Why not bring the little ones? Our family rooms sleep three or even four guests.
  </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
  </div>
  
  <div class="flex flex-col overflow-hidden rounded-lg lg mb-4 md:mb-10 border text-black text-center pb-4 bg-brand-primary">
    <Image
      src={familyPlus}
      class="h-48 w-full object-cover"
      alt="Kings Cross hotel"
      format="webp"
    />
    <h3 class="py-4 border-t-2 border-white text-xl font-bold px-4">
      Family + (Family Superior)
    </h3>
    <p class="px-4">
      Perfect for the whole gang, bigger groups and parties can opt for the largest of our rooms, sleeping up to six people.
    </p>
  
      <a href="https://www.thecalifornialondon.com/rooms"
   class="bg-gray-700 hover:bg-gray-300 block border border-white rounded-lg text-white text-center max-w-2xl mx-auto px-6 py-2 mb-4 mt-6 text-lg uppercase font-bold">Book Now</a>
    </div>
  
  </div>
  </div>
  <p class="my-4 px-4 text-center md:text-lg">All rooms include Speedy free Wi Fi, Bottled water, Tea and coffee, Cotton sheets, Fresh towels, Basic toiletries, LCD television, Hair dryer, Personal safe.
  </p>
</div>
  <!-- END THREE CARDS WITH IMAGE AND NO BORDER SECTION -->


    

   <!-- TWO COLUMN CONTENT BLOCK WITH IMAGE ON RIGHT. NOTE THAT HEIGHT / WIDTH CAN BE APPLIED IF REQUIRED, FOR EXAMPLE - IF TEXT CONTENT IS LONG OR SHORT, YOU MAY WANT TO SET THE IMAGE HEIGHT TO LINE IMAGE UP WITH TEXT CONTENT -->    
	<ImageOnLeft
    
    title="Perfect Location for Easy Access"
    image={Location} 
    imageAlt="Perfect Location for Easy Access"
    titleColor="black"
    height={600}
    width={600}
  >
    <Fragment slot="content" >
      <p class="my-4">
        Our hotel's location in Kings Cross is nothing short of perfect, especially for guests visiting Tufnell Park and Central London. Situated within walking distance of key transportation hubs, including St Pancras International Station, the Eurostar terminal, and Euston Station, we offer unbeatable convenience and accessibility.
     </p>
      <p>
        Whether you're arriving by train, Eurostar, or need to hop on a connecting journey, The California's central location ensures that you are just moments away from your point of arrival after your journey from in to visit Tufnell Park. St Pancras International Station, known as one of London's primary train stations and the Eurostar gateway to mainland Europe, is a mere stone's throw away. This makes your journey to and from the continent or other parts of the UK incredibly seamless.
      </p>
     <p>
      Euston, another major transportation hub, is within easy reach, further enhancing your connectivity within London and beyond. This strategic placement at the intersection of several key train stations means that you can explore Central London and its many attractions with the utmost ease.
    </p>
    
     
    </Fragment>
  </ImageOnLeft>
  <!-- END IMAGE ON RIGHT CONTENT BLOCK -->
  <div class="mb-10 mt-4 lg:-mt-10 mx-auto px-4 lg:px-8 md:text-lg">
    <p>
      The California's location, within walking distance of these critical transport links, not only saves you valuable time but also allows you to immerse yourself in the vibrant atmosphere of Kings Cross. As you step out of our hotel, you'll find yourself surrounded by a wealth of dining, shopping, and cultural experiences that define this dynamic neighborhood.
    </p>
    <p>
      In summary, if you are visiting Tufnell Park, our London hotel's perfect location, within walking distance of St Pancras International Station, the Eurostar terminal, and Euston Station, ensures that you are ideally positioned to embark on your London adventure with ease and convenience. We look forward to welcoming you to The California and making your journey to Central London truly exceptional.
    </p>
  </div>
   <!-- BEGIN TWO CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
<div class="mx-auto max-w-7xl px-6">
  <SubTitle>Discover London</SubTitle>
  
  <p class="my-4 text-center md:text-lg">The California's very good location in Kings Cross places you at the crossroads of some of London's most iconic attractions. Whether you're a history buff, a literature enthusiast, a shopping aficionado, or a food connoisseur, our neighborhood offers an array of experiences to suit your interests.
  </p>
<div
class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
>
<div class="flex flex-col overflow-hidden rounded-lg mb-10 border pb-4 bg-brand-primary">
  <Image
    src={museum}
    class="h-48 w-full object-cover"
    alt="st pancras Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-black text-xl font-bold px-4 border-t-2 border-white text-center">
    British Museum

  </h3>
  <p class="px-4 text-black text-center mb-4">
    Immerse yourself in the rich tapestry of history at the world-renowned British Museum. It's just a stone's throw away from The California, making it easy for you to explore its vast collection of artifacts, including the Rosetta Stone and the Elgin Marbles.
  </p>

 

</div>


<div class="flex flex-col text-black text-center overflow-hidden rounded-lg bg-brand-primary mb-4 md:mb-10 pb-4">
  <Image
    src={Library}
    class="h-48 w-full object-cover"
    alt="st pancras Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-center border-t-2 border-white text-xl font-bold px-4">
    British Library
  </h3>
  <p class="px-4 mb-4">
    For literary enthusiasts, the British Library is a must-visit. Located nearby, it houses a treasure trove of books, manuscripts, and historical documents, including the Magna Carta and original Beatles lyrics.
</p>

</div>
</div>
</div>

<!-- END TWO CARDS WITH IMAGE + BORDER SECTION -->

<!-- BEGIN TWO CARDS SECTION WITH IMAGE + BORDER. GRID SECTION IS WRAPPED IN A DIV -->
<div class="mx-auto max-w-7xl px-6">
  
<div
class="mt-12 grid w-full lg:gap-10 lg:grid-cols-2"
>
<div class="flex flex-col overflow-hidden rounded-lg mb-10 border pb-4 bg-brand-primary">
  <Image
    src={oxfordSt}
    class="h-48 w-full object-cover"
    alt="st pancras Kings Cross hotel"
    format="webp"
  />
  <h3 class="py-4 text-black text-xl font-bold px-4 border-t-2 border-white text-center">
    Oxford Street
  </h3>
  <p class="px-4 text-black text-center mb-4">
    If you're in the mood for shopping, Oxford Street, the premier shopping destination in London's west end, is within reach. The Dominion Theatre is also nearby should you wish to take in a show.</p>
    
</div>


<div class="flex flex-col text-black text-center overflow-hidden rounded-lg bg-brand-primary mb-4 md:mb-10 pb-4">
  <Image
    src={Food}
    class="h-48 w-full object-cover"
    alt="the best of London hotels in London Kings Cross"
    format="webp"
  />
  <h3 class="py-4 text-center border-t-2 border-white text-xl font-bold px-4">
    Restaurants Nearby
  </h3>
  <p class="px-4 mb-4">
    After a day of exploration, return to The California, where you'll find a diverse culinary scene right at your doorstep. Our very good location means you have a plethora of restaurants offering international and local cuisine. Savor flavors from around the world or indulge in traditional British fare.
</p>
</div>
</div>
<p class="mt-4 mb-10 text-center md:text-lg">Whether you're drawn to the cultural treasures of the British Museum and British Library, eager to shop along, visit the famous Covent Garden, or looking to satisfy your taste buds at the restaurants nearby, The California's central location puts you at the heart of it all. London's rich tapestry of experiences awaits, and we're here to ensure your stay is as memorable as the city itself.
</p>
</div>

<!-- END TWO CARDS WITH IMAGE + BORDER SECTION -->
<CallToAction
    background={heroBg}  
    title="Start Your London Journey Here"
    ImageAlt="Start Your London Journey Here"
    linkText="Book Now"
    href="https://www.thecalifornialondon.com/">
    <div slot="ctaContent"> 
      <p class="mt-6 mb-4 lg:text-lg">
        he California's harmonious blend of comfort, style, and unrivalled location in Kings Cross creates a truly unique London experience. Our rooms, each with their own distinct character, offer relaxation and a good night's sleep after a day of exploration. Our proximity to transport hubs and London's famous attractions means you have the city at your fingertips. Start planning your London adventure today and make your reservation at The California now and find out why we have a reputation as one of the best hotels in Kings Cross. 
      </p>
    </div>
  </CallToAction>


</Layout>  

